process {   
  
 withName: DOWNSAMPLE {  
        memory = { 16.GB }
        publishDir = [
            path: { "${params.outdir}/scrank/" },
            mode: 'copy'
        ]
    }
   
 withName: GENIE3 {
	memory = { 16.GB }
        cpus = {$params.n_cores}
        publishDir = [
            path: { "${params.outdir}/genie3/" },
            mode: 'copy'
        ]
    }

 withName: SCTENIFOLDNET {
	memory = { 16.GB }
        cpus = {$params.n_cores}
        publishDir = [
            path: { "${params.outdir}/sctnet/" },
            mode: 'copy'
        ]
    }

 withName: SCRANK {
	memory = { 64.GB }
        cpus = {$params.n_cores}
        publishDir = [
            path: { "${params.outdir}/scrank/" },
            mode: 'copy'
        ]
    }

 withName: MERGE {
        memory = { 16.GB }
        publishDir = [
            path: { "${params.outdir}/rank_scores/" },
            mode: 'copy'
        ]
    }
}
