/*
Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run dalmolingroup/euryale -profile test_ocasio,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Ocasio 2019 dataset'
    config_profile_description = 'Bigger dataset to check pipeline function'

    run_vignette               = true
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 8
    max_memory = '16.GB'
    max_time   = '4.h'

    // Input data
    obj         = "https://zenodo.org/records/19262527/files/ocasio2019_MB_untreated.rds"
    network     = "sctnet"
    column      = "clone_annotation"
    species     = "human"
    target      = "https://raw.githubusercontent.com/MCBLab/nf_scrank/refs/heads/sctenifoldnet/testdata/test_input_ocasio.txt" 
    n_cells     = 500
    n_cores     = 8

}
